<div class="container-fluid w-xxl w-auto-xs" ng-controller="Uaccess" ng-init="app.settings.container = false;"> 
<div id="inner">
  <div class="container"> 
    <div class="row">
      <div class="col-md-6 col-xs-offset-3"> 
      	<div id="awning">
          <div class="page-header">
            <h1>Change Password</h1>
          </div>
        </div>
        
        <form class="form-horizontal" ng-submit="changepassword();">
            
               <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError}}
                </div>
            
         <div class="form-group">
            <div class="col-sm-8">
              <input class="form-control" placeholder="Please Enter Old Password" ng-model="user.old_password" id="user_name" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <input class="form-control" placeholder="Please Enter New Password" ng-model="user.newpassword"  id="user_email" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <input class="form-control" placeholder="Confirm New Password" ng-model="user.conformpassword" id="user_email" type="text">
            </div>
          </div>
       
        
          <div class="form-group">
            <div class="col-sm-8">
              <input name="commit" value="Submit" class="btn btn-primary btn-block commit" type="submit">
            </div>
          </div>
          
        </form>
        
        
        
        
        
        
        
      </div><!--col-md-6-->
      
    </div>
  </div>
</div>
</div>     